table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

.mat-row:hover {
  background-color: #eeeeee;
}